*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway','Arial', sans-serif;
}

.tekst_color {
    color: #3be2d4;
}

.glowa {
    background-color: black;
    min-height: 60px;
    width: 100%;
    color: white;
    font-size: 20px;    
}

.glowa_container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    min-width: 600px;
    margin: auto;
}

.glowa_container > div {
    padding: 20px;
}

.nav_list {
    display: inline-block;
    list-style: none;
    padding: 20px;
}
/*

.podlista {
    height: 0;
}

.podlista:hover {
    height: 60px;
    padding: 15px; 
}
*/
section > article:first-child {
    background-image: linear-gradient(180deg, white, lightgrey);
    min-height: 500px;
}

.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1024px;
    min-height: 500px;
    margin: auto;
    text-align: center;
}

.container_1 > div {
    min-width: 300px;
}

.container_1 h2, .container_1 p {
    text-align: center;
    padding: 20px;
    max-width: 400px;
}

.container_1 button {
    text-align: center;
    max-width: 400px;
}

.container_1_button {
    background-color: #3be2d4;
    border-style: none;
    color: white;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px
}

.container_2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    max-width: 1024px;
}


.container_2__box_1 {
    box-sizing: border-box;
    background-image: url(../images/box1_img.jpg);
    background-size: cover; 
    margin: 20px;
    width: 300px;
    height: 220px;
    border: 1px solid lightgray;
}

.container_2__box_1 > h3, .container_2__box_2 > h3{
    box-sizing: border-box;
    margin-top: 140px;
    margin-bottom: 20px;
    padding: 10px;
    height: 60px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}

.container_2__box_2 {
    box-sizing: border-box;
    background-image: url(../images/box2_img.jpg);
    background-size: cover; 
    margin: 20px;
    width: 300px;
    height: 220px;
    border: 1px solid lightgray;
}

.container_2__box_3 {
    box-sizing: border-box;
    margin: 20px;
    width: 300px;
    height: 220px;
    border: 1px solid lightgray;
    padding: 20px;
   
}

.container_2 h3 {
    font-size: 15px;
    padding-bottom: 10px; 
}

.container_2 p {
    font-size: 13px;
    
}

.container_2  h3::after {
    content: "";
    display: block;    
    height: 7px;
    width: 130px;
    margin-top: 3px;
    background-color: #3be2d4;
    bottom: -1px;
    left: 0px;
}